
h1, p, body, html {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 10% 30px 10%;
}

section {
    border: 2px solid #000;
    padding: 20px;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datos {
    margin: 20px;
}

.foto{
    position: relative;
    width: 25%;
}

.foto > img {
    border: 2px solid #581845;
    border-radius: 50%;
    height: 200px;
    width: 200px;

    position: absolute;
    top: -40px;
}

.puntos-habilidad {
    border: 1px solid #682855;
    border-radius: 5px;

    background-color: #581845;

    margin-left: 2px;
    margin-right: 2px;
}

/* Idiomas*/
.idiomas > ul  {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.idiomas > ul > li > p {
    display: inline;
    width: 80px;
}

.idiomas > ul > li > p, .idiomas > ul > li > span {
    margin-top: 10px;
}

.idiomas > ul > li  {
    display: flex;
    flex-direction: row;
}

.idiomas > ul > li > .puntos-habilidad {
    height: 20px;
    width: 40px;
}

/*otros conocimientos*/

.otros-conocimentos > ul  {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.otros-conocimentos > ul > li > p {
    display: inline;
    width: 80px;
}

.otros-conocimentos > ul > li > p, .otros-conocimentos > ul > li > span {
    margin-top: 10px;
}

.otros-conocimentos > ul > li  {
    display: flex;
    flex-direction: row;
}

.otros-conocimentos > ul > li > .puntos-habilidad {
    height: 20px;
    width: 14px;
}

/* Conocimientos */

.conocimientos > div {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.conocimientos > div > * {
    flex-grow: 1;
    margin: 5%;
    height: 50px;
} 

/* Competencias */

.competencias > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.competencias > ul > li {
    list-style-type: none;
}

/* Secciones */
 main {
    display: grid;
    justify-content: space-around;
    grid-gap: 20px;
}

.formacion-academica {
    grid-column: 1 / 10;
    grid-row: 1;
}

.experiencia-profesional {
    grid-column: 1 / 6;
    grid-row: 2;
}

.conocimientos {
    grid-column: 6 / 10;
    grid-row: span 2;
}

.experiencia-complementaria {
    grid-column: 1 / 6;
    grid-row: 3;
}

.formacion-complementaria {
    grid-column: 1 / 6;
    grid-row: 4;
}

.competencias {
    grid-column: 6 / 10;
    grid-row: 4;
}

.idiomas {
    grid-column: 1 / 5;
    grid-row: 5;
}

.otros-conocimentos {
    grid-column: 5 / 10;
    grid-row: 5;
    
}

.otros-datos {
    grid-column: 1 / 10;
    grid-row: 6;
}

